.site-inner{
padding-left: 0;
padding-right : 0;
margin-left :0;
margin-right:0;
max-width:none;
 }
.genesis-nav-menu a{
	color:white;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: Gotham,sans-serif;
	
	
}

#menu-item-179 > a{
	color: #b4a895;
	font-weight: 800;
	font-family: Gotham,sans-serif;

} 
.site-header {
	background-color: rgba(0,0,0,0.06);
}
#menu-Sushi-categorie{
margin-right: 500px;
}
.title-area span{
		color: #b4a895;
	font-weight: 800;
	font-family: Gotham,sans-serif;
     display: inline-block;
    margin: 0 0 0 60px;
	    vertical-align: middle;
}
.h1{
	color:white;
	text-align:center;
	z-index:2;
}
.form search-form{
	z-index: 4;
}
.form-control{
	z-index: 5;
	
}
.balck{
position: absolute;
bottom: 0;
top:0;
left: 0;
right: 0;
z-index: -1	;
background-image: url('https://example.com/top.png');
min-height: 500px;
}
.video_container {
position: absolute;
width:100%;
top:0;
left:0;
z-index: 3;
}
	  
.products {
position:relative;
}
.test {
position: relative;
min-height: 500px;
}

.test > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('/wp-content/uploads/2020/02/bg.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;

}
.products > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('/wp-content/uploads/2020/02/bg.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	z-index: -1;

}

.content-sidebar-wrap{
	padding-left: 0;
	padding-right: 0;
}
